.potrfolio{
    margin-top: 140px;
}
.caption-head h1{
    color: #2C3E50;
}
.under-line .line{
    background-color: #2C3E50;
    width: 80px;
    height: 4px;
}
.under-line i {
    color: #2C3E50;
}
.layer-img-container{
    cursor: pointer;
}
.layer{
    background-color: #1ABC9C;
    opacity: 0;
    transition: .6s all;
}
.layer-img-container:hover .layer{
    opacity: 1;   
}
.portfolio-layer{
    background-color: RGBA(13, 110, 253, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999;
    /* display: flex;
    align-items: center; */
    
}
.layer-img{
   position: absolute;
   top: 15%;
   left: 25%;
}
.portfolio-layer img{
    width: 65%;
}