<section class="home d-flex flex-column align-items-center justify-content-center">
    <div class="w-25 text-center">
        <img [src]="imgSrc" alt="Avatar-img" class="w-75">
    </div>
    <div class="caption text-center mt-5 text-white">
        <h1 class="fw-bold">
            START FRAMEWORK
        </h1>
        <div class="under-line d-flex justify-content-center align-items-center my-3">
            <div class="line bg-white me-3"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line bg-white ms-3"></div>
        </div>
        <p>
            Graphic Artist - Web Designer - Illustrator
        </p>
    </div>
</section>
